{% extends "base.html" %}

{% block content %}
    <h1>Flight view</h1>

    {% for flight in flights %}
        {{ flight.id }} - {{ flight.destination }} {{ flight.flightDuration }}
        <a onclick="deleteFlight({{ flight.id}})">Delete</a>

        <form>
            <label>Departure</label><br>
            <input type="text" name="departure" id="departure" value={{ flight.departure }}><br>
            <label>Destination</label><br>
            <input type="text" name="destination" id="destination" value={{ flight.destination }}><br>
            <label>Flight duration</label><br>
            <input type="text" name="flightDuration" id="flightDuration" value={{ flight.flightDuration }}><br>
            <a onclick="saveData({{ flight.id }})">Save</a>
        </form>

    {% endfor %}

    <script>
        function deleteFlight(id)
        {
            $.ajax({
                url : '/flight/' + id,
                method : 'delete',
                data : {
                    id : id
                }
            }).then((res)=>{
                alert(res);
                window.location.replace("/");
            });
        } 

        function saveData(id)
        {
            var data = {
                destination: document.getElementById('destination').value,
                flightDuration: document.getElementById('flightDuration').value,
                departure: document.getElementById('departure').value
            }

            $.ajax({
                url : '/flight/' + id,
                method : 'put',
                data : data
            }).then((res)=>{
                alert(res);
                window.location.replace("/");
            });
        }
    </script>

{% endblock content %}