{% extends "base.html" %}

{% block content %}

    {% for flight in flights %}

<section class="wrapper style1 align-center">
    <h1>Flight view</h1>

        {{ flight.id }} - {{ flight.destination }} {{ flight.flightDuration }}
        <a onclick="deleteFlight({{ flight.id}})">Delete</a>

        <div class="inner medium">
        <h2>Edit the flight</h2>

            <form method="POST">
                <div class="fields">
                    <div class="field half">
                        <label for="departure"> Departure </label>
                        <input type="text" name="departure" id="departure" value={{ flight.departure }}>
                    </div>

                    <div class="field half">    
                        <label for="destination"> Destination </label>
                        <input type="text" name="destination" id="destination" value={{ flight.destination}}>
                    </div>

                    <div class="field">
                        <label> Duration </label>
                        <input type="text" name="flightDuration" id="flightDuration" value={{ flight.flightDuration}}>
                    </div>
                </div>
                <a onclick="saveData({{ flight.id }})">Save</a>
            </form>
        </div>
    </section>

    {% endfor %}

    <script>
        function deleteFlight(id)
        {
            $.ajax({
                url : '/flight/' + id,
                method : 'delete',
                data : {
                    id : id
                }
            }).then((res)=>{
                alert(res);
                window.location.replace("/");
            });
        } 

        function saveData(id)
        {
            var data = {
                destination: document.getElementById('destination').value,
                flightDuration: document.getElementById('flightDuration').value,
                departure: document.getElementById('departure').value
            }

            $.ajax({
                url : '/flight/' + id,
                method : 'put',
                data : data
            }).then((res)=>{
                alert(res);
                window.location.replace("/");
            });
        }
    </script>

{% endblock content %}